.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 0;
    color: #fff;
    width: 100%;
    z-index: 0;

    .header {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 100%;

        p {
            margin-top: 0px;
            position: relative;
            font-size: 2rem;
            font-weight: 400;
        }

        p::before {
            content: '';
            position: absolute;
            bottom: -1rem;
            left: 12%;
            width: 75%;
            height: 1px;
            background-color: #fff;
        }
    }

    .content-box {
        display: flex;
        width: 100%;
        margin: auto 4rem;

        .box {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 30vw;
            margin: auto;
            margin-top: 0;

            h4 {
                text-align: center;
                width: 80%;
                margin: auto;
                margin-bottom: 2rem;
                text-transform: uppercase;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}

.box-1 {
    .radios-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;

        .parent-radio {
            display: inline-flex;
            flex-wrap: nowrap;
            margin-left: 2rem;
            margin-bottom: 1rem;
            font-size: 1rem;
            font-weight: 300;

            input[type='radio'] {
                display: grid;
                place-content: center;
                appearance: none;
                background: transparent;
                margin: 0;
                margin-right: 1rem;
                font: inherit;
                font-size: 1.25rem;
                color: #fff;
                width: 1.15em;
                height: 1.15em;
                border: .15em solid #fff;
                border-radius: 50%;
                transform: translateY(-0.075em);
                cursor: pointer;
            }

            input[type='radio']::before {
                content: "";
                width: 0.5em;
                height: 0.5em;
                border-radius: 50%;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em #fff;
            }
            input[type='radio']:checked + label {
                font-weight: 600;
            }
            input[type='radio']:checked::before {
                transform: scale(1);
            }
            label {
                cursor: pointer;
            }
        }
    }
}

.box-2 .btns-box {
    display: flex;
    justify-content: center;
    gap: 2rem;
    button {
        line-height: 2rem;
        width: 8rem;
        font-weight: 600;
        color: rgba(255, 255, 255, .6);
        background: transparent;
        border: 1px solid;
        border-color: rgba(255, 255, 255, .6);
        border-radius: 2px;
        cursor: pointer;
        text-transform: uppercase;
    }
    button:hover, button:active {
        color: #fff;
        border-color: #fff;
        background: rgb(148,83,0);
        background: linear-gradient(144deg, rgba(148,83,0,1) 0%, rgba(255,144,0,1) 100%);
    }
}

.box-3 .text-box {
        font-size: .8rem;
        font-weight: 300;
        width: 90%;
        margin: auto;
        margin-top: 0;
        margin-bottom: 2rem;
        text-align: center;
        p {
            margin-top: 0;
        }
}