.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    background-color: #15161a;
    color: #fff;

    .css-box {
        display: flex;
        margin: auto;
        margin-left: 4rem;
        cursor: pointer;
        opacity: .1;
        p {
            font-size: 1.25rem;
            letter-spacing: 1px;
            margin: 0;
            padding: 0;
            padding-left: .5rem;
            position: relative;
            z-index: 1;
        }
        p::before {
            content: '';
            position: absolute;
            width: 76%;
            height: 100%;
            top: 0;
            left: 0;
            background: transparent;
            border: 1px solid;
            border-color: #fff;
            z-index: -1;
        }
        p:hover::before {
            animation: rotate 2s;
            animation-iteration-count: 1;
        }
    }

    .css-box:hover {
        opacity: .8;

        p::before {
            border-color: #e88301;
        }
    }

    .company-name {
        margin: auto;
        .name {
            display: flex;
            align-items: center;

            p {
                font-size: 1.2rem;
                opacity: .1;
            }

            .line {
                width: 2.5rem;
                height: 1px;
                margin: auto 5px;
                background-color: rgba(255, 255, 255, .1);
            }
        }

    }

    .btn-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin: auto;
        margin-right: 4rem;

        .btn {
            line-height: 2rem;
            width: 12rem;
            font-weight: 600;
            color: rgba(255, 255, 255, .6);
            background: transparent;
            border: 1px solid;
            border-color: rgba(255, 255, 255, .1);
            border-radius: 2px;
            cursor: pointer;

            .arrow {
                    display: inline-block;
                    margin: auto;
                    margin-left: 5px;
                    width: 5px;
                    height: 5px;
                    border-top: 2px solid rgba(255, 255, 255, .6);
                    border-left: 2px solid rgba(255, 255, 255, .6);
                }

        }
        .btn:hover {
            color: #fff;
            border-color: #fff;
            .arrow {
                border-top-color: #fff;
                border-left-color: #fff;
            }
        }

        .clicked {
            color: #fff;
            border-color: #fff;
            .arrow {
                border-top-color: #fff;
                border-left-color: #fff;
            }
        }

        .frame {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 12rem;
            height: 6.5rem;
            margin: auto;
            margin-top: -6.5rem;
            box-shadow: 0 -.1rem 1rem rgba(#000, .6);
            background-color: #fff;
            border-radius: 2px;
            z-index: -1;
            ul {
                width: 100%;
                margin: auto;
                margin-top: 1rem;
                padding-left: .7rem;
                li {
                    text-transform: uppercase;
                    font-size: .8rem;
                    font-weight: 500;
                    list-style: none;
                    color: #000;
                    a{
                        text-decoration: none;
                        color: #000;
                        cursor: pointer;
                        .arrow-right {
                            display: inline-block;
                            margin: 2px auto;
                            margin-right: 5px;
                            width: 5px;
                            height: 5px;
                            border-top: 2px solid #000;
                            border-left: 2px solid #000;
                            transform: rotate(135deg);
                        }
                    }
                    a:hover {
                        color: #e88301;
                        .arrow-right {
                            border-top-color: #e88301;
                            border-left-color: #e88301;
                        }
                    }
                }
            }
        }
    }
}

//animations
@-webkit-keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(180deg);
    }
}
@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(180deg);
    }
}