<div class="container">
    <div class="css-box">
        <div class="text">
            <p>CSS<br>IS<br>AWESOME</p>
        </div>
    </div>
    <div class="company-name">
        <div class="name">
            <div class="line"></div>
            <p>nabthat</p>
            <div class="line"></div>
        </div>
    </div>
    <div class="btn-box">
        <button type="button" class="btn" (click)="toggleFrame()" [ngClass]="{'clicked': isClicked}">POKAŻ <span class="centered-caret">{{caret}}</span></button>
        <div classs="frame">
            
        </div>
    </div>
</div>
